# Directorios de datos
/data/in/**.csv
/data/out/**/*.csv

# Librerías
/Lib/site-packages/*
!/Lib/site-packages/pip/
!/Lib/site-packages/pip-23.2.1.dist-info/

# Python bytecode files
*.pyc
__pycache__/
*.pyo
*.pyd

# Python environment files
.Python
env/
venv/
ENV/
ENV.bak/
venv.bak/

# Spyder project files
.spyderproject
.spyproject

# Cache files
.mypy_cache/
.pytest_cache/
.tox/
.ipynb_checkpoints

.vscode/
*.log
.env

# Archivos de compilación y distribución
build/
dist/
*.egg-info/
*.egg

# Archivos de caché de Jupyter Notebooks
*.ipynb_checkpoints/